* {
  box-sizing: border-box;
  font-family: "karla", sans-serif;
}
body {
  font-family: "Karla", sans-serif;
}
.container {
  max-width: 700px;
  margin: auto;
}
.header {
  width: 700px;
  height: 65px;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  padding: 20px;
}
.header-title {
  margin-right: auto;
  margin-left: 5px;
  font-size: 25px;
  letter-spacing: 1px;
}
.header-img {
  height: 100%;
}
.header-project {
  letter-spacing: 1px;
  font-size: 14px;
}
.form {
  display: grid;
  grid-template: 40px 40px/ 1fr 1fr;
  grid-gap: 30px;
  padding: 40px;
}
.form-button {
  grid-column-start: span 2;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  border-radius: 5px;
  border: 0px;
  color: whitesmoke;
  font-size: 14px;
}

.download-button{
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  border-radius: 5px;
  border: 0px;
  color: whitesmoke;
  font-size: 18px;
  padding: 10px 20px;
margin-top: 20px;
align-items: center;
     cursor: pointer;
}
.form-input{
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 10px;
}
.meme{
  position:relative
}
.meme-image-container{
display: flex;
justify-content: center;
}
.meme-image{
 max-width: 100%;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

.Footer{
  text-align: center;
margin-top: 20px;
}